<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/confirmacao.css">
    <title> Confirmação </title>
</head>

<body>
    <main class="container">
        <div class="containerConfirmacao">
            <div id="block-confirmacao">
                <form action="index.html">
                    <div id="tituloConfirmacao">
                        <h1> Obrigado por sua compra </h1>
                    </div>
                    <div id="subtituloConfirmacao">
                        <h2> verifique seu e-mail com o recibo do pedido </h2>
                    </div>
                    <div>
                        <button type="submit" id="botaoVoltarMenu"> Voltar para o menu </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>