<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu </title>
    <link rel="stylesheet" href="/src/main/resources/static/styles.css">
    <link rel="icon" href="/static/images/menu-icon.png">
</head>

<body>
    <main class="container">
        <div class="container-grid">
            <section class="block-fornecedor">
                <div id="imagemFornecedorMenu">
                    <a href="/src/main/resources/templates/fornecedor.html">
                        <img src="/src/main/resources/static/images/fornecedor-img.png" alt="template fornecedor">
                    </a>
                </div>
                <div id="conteudoFornecedor">
                    <h2> Fornecedores </h2>
                    <p> Verifique os fornecedores ativos</p>
                </div>
            </section>
            <section class="block-produto">
                <div id="imagemProdutoMenu">
                    <a href="/src/main/resources/templates/produto.html">
                        <img src="/src\main\resources\static\images\produto-img.png" alt="template produto">
                    </a>
                </div>
                <div id="conteudoProduto">
                    <h2> Produtos </h2>
                    <p> Verifique os produtos disponiveis </p>
                </div>
            </section>
        </div>
    </main>
</body>

</html>